<ion-header>
  <ion-toolbar class="abc">
    <ion-title>Confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-item >
      <ion-avatar slot="start">
        <ion-img [src]="">
  
        </ion-img>
      </ion-avatar>
      <ion-label [routerLink]="'/detail'">
        {{user.name}}
      </ion-label>
    </ion-item>
  </ion-card>
    
  

    
      <!-- <ion-label  [routerLink]="'/home'">
        {{user.name}}
      </ion-label> -->
     <!-- {{ user.name }} is {{ user.age }} email {{ user.email }}  -->
    
    
       
  
</ion-content>


